.main-menu {
    margin: 0;
    padding: 0;
}

.main-menu li {
    list-style-type: none;
    float: left;
    width: 100%;
    border-top: 1px solid #080101;
    text-align: center;
}

.main-menu li a {
    text-decoration: none;
    padding: 10px;
    background-color: #e6e6e6;
    width: 100%;
    display: block;
}

.main-menu li a:hover {
    text-decoration: none;
}


/* .main-menu li:first-child {
    border-bottom: none;
}*/

.main-menu li:last-child {
    border-bottom: 1px solid #080101;
}