<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- showing a badge for total favourite item -->
            <app-favourite-item [title]="favouriteTitle"></app-favourite-item>
            <!-- favourite items list -->
            <app-favourite-item-list></app-favourite-item-list>
            <!-- form -->
            <form novalidate [formGroup]="myform">

                <div class="form-group">
                    <label>Search in Itunes</label>
                    <input type="text" class="form-control" (keyup)="searchItunes()" formControlName="term">
                </div>
                <!-- <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" formControlName="lastName">
                    </div>
                </fieldset>


                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="email">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>

                <div class="form-group">
                    <label>Language</label>
                    <select class="form-control" formControlName="language">
                <option value="">Please select a language</option>
                <option *ngFor="let lang of langs"
                        [value]="lang">{{lang}}
                </option>
              </select>
                </div> -->
            </form>
        </div>
        <!-- songs list -->
        <span *ngIf="loading">Loading</span>
        <span *ngIf="noDataFound">No Data Found</span>
        <div class="row">
            <div class="col-md-6" *ngFor="let song of songs | async">
                <div class="card margin-bottom-20">
                    <img class="card-img-top" src="{{song.artworkUrl100}}" alt="songs image">
                    <div class="card-body col-md-8">
                        <h5 class="card-title">{{song.trackName}}</h5>
                        <p class="card-text">{{song.collectionName}}</p>
                        <a href="{{song.collectionViewUrl}}" class="btn btn-primary" target="_blnk">Details</a>
                        <button type="button" class="btn btn-info" (click)="addToFavourite(song)">Like</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>